
  <div class="side-menu-container p-10">
      <h3>Filters</h3>
      <h6>Launch Year</h6>
     
       <div class="year-container">
         <div class="menu-items" >
          <div  class="item-left"  *ngFor="let year of launchYears;let i=index">
            <button (click)="getLaunchYear(year)"   class="mb-12" *ngIf="i%2!==0">{{year}}</button>
           </div>
         </div>
         <div class="menu-items">
          <div  class="item-right"  *ngFor="let year of launchYears;let i=index">
            <button (click)="getLaunchYear(year)"  class="mb-12" *ngIf="i%2===0">{{year}}</button>
           </div>
        </div>
       </div>
        <div >
        
        </div>
        
     
     
      <h6>Successful Launch</h6>
      <div class="year-container">
        <div class="menu-items">
          <div  class="item-left" *ngFor="let launch of successfulLaunch">
          <button (click)="getSuccessfulLaunch(launch.key)" *ngIf="launch.key">{{launch.value}}</button>
          </div>
       </div>
       <div class="menu-items">
        <div  class="item-right" *ngFor="let launch of successfulLaunch">
        <button (click)="getSuccessfulLaunch(launch.key)"  *ngIf="!launch.key">{{launch.value}}</button>
        </div>
     </div>
      </div>
     
      <h6>Successful Landing</h6>
     <div class="year-container">
      <div class="menu-items">
        <div  class="item-left" *ngFor="let landing of successfulLanding">
        <button (click)="getSuccessfulLanding(landing.key)" *ngIf="landing.key">{{landing.value}}</button>
        </div>
     </div>
     <div class="menu-items">
      <div  class="item-right" *ngFor="let landing of successfulLanding">
      <button (click)="getSuccessfulLanding(landing.key)"  *ngIf="!landing.key">{{landing.value}}</button>
      </div>
   </div>
    </div>
  </div>

